.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  z-index: 1000;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.header-margin {
  margin-top: 60px; /* ヘッダーの高さに合わせて調整 */
}